:root {
  --background-color: #fff;
  --text-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.6s ease-in, color 0.6s ease-in;
}

body.dark-mode {
  --background-color: #1f1f1f;
  --text-color: #dcdcdc;
}
